*{
	margin: 0;
	padding: 0;
}
.container {
	max-width: 800px;
}
body {
    font-family: Bodoni-Roman;
    background-color:#ffffff;
    color:#000000;
    text-align: center;
		font-weight: lighter;
}
.container-fluid {
	padding-right: 0;
	padding-left: 0;
	}

div#navig.affix {
	position: fixed;
	top: 0;
	width: 100%;
	z-index:10;
	margin-top:0;
}
div#logo.affix{
	position: fixed;
	top: 0;
	height: 100px;
	margin-top:0;
	width: 100px;
}
#headline {
	background: url(../img/background.jpg) center top no-repeat;
	background-size: cover;
	}
#headline a {
	color: white;
	font-family: Bodoni-Roman;
	font-size: ;
	text-align: center;
}
#navig{
	background-color: rgba(0, 0, 0, 0.74);
	margin-top:300px;
	padding: 20px;

}
div#social-links {
	padding: 10px;
	padding-left: 25px;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
	background-color: transparent;
}
.nav li{
	padding-left: 15px;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
	background-color: black;
	background-image: none;
}
.dropdown-menu {
	background-color: black;
}
#logo{
	background: url(../img/logo_bianco.png) center center no-repeat;
	height: 100px;
	margin-top: 300px ;
	background-color: rgba(127, 127, 127, 0.56);
}
#press-img{
	background: url(../img/press.png) center center no-repeat;
	background-color: black;
	height: 700px;
}
.bar {
	margin-top: -90px;
}
div#collec{
	background-color: black;
}
div#collec p, h3{
	color: white;
	padding: 30px;
	font-weight: none;
	font-size: 80%;

}
.slider {
	margin: 0 auto;
	width: 520px;
}
.slider2 {
	margin: 0 auto;
	width: 520px;
}
.slick-prev:before, .slick-next:before {
	color:#808080;
}

.centerHorizontally {
	display: table;
	margin: 0 auto;
}

nav {
    display:inline-block;
		border: 0;
		border-radius: 0;
}

nav p {
    float:left;
    display:inline-block;
    margin-right:20px;
}
.anchor{
	display: block;
	height: 98px; /*same height as header*/
	margin-top: -98px; /*same height as header*/
	visibility: hidden;
}
#philos {
	padding: 20px 0px
}
#philos p{
	padding:20px 20px;
	font-size: 90%;

}
.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
	float: none;
}
#collect{

}
.row{
	padding-bottom: 50px;
}
.navbar{
	border:0px;
}

a {
    text-decoration:none;
 		color:black;
}
a:hover{
	text-decoration:none;
	color:black;
}
.slick a:hover{
	color: white;
}
h3{
	font-family: Bodoni-Roman;
	font-size: larger;
}
h2{
	font-family: Bodoni-Roman;
	font-size: larger;
	background-color: rgba(0, 0, 0, 0.56);
	color: white;
	padding: 40px;
	}
#social-links a {
	padding-left: 10px;
}
#contact{
	padding: 80px;
	line-height: 1.2;
}
#contact h5{
	padding-bottom: 10px;
}
#brand{
	display: inline-block;
	vertical-align: middle;
}
.navbar-nav>li>a{
	padding-left:12px;
}
.nav>li>a:hover, .nav>li>a:focus{
	background-color: rgba(0, 0, 0, 0);
}
#romblast{
	display: inline-block;
	vertical-align: middle;
	padding:0px 40px;

}
#presc{
	display: inline-block;
		vertical-align: middle;

}
@font-face {
      font-family: "Bodoni-Roman";
      src: url("../fonts/BauerBodoniStd-Roman.otf");
    }
@font-face {
      font-family: "Bodoni-Italic";
      src: url("../fonts/BauerBodoniStd-Italic.otf");
    }

@media only screen and (max-width: 1024px) {
    body:before {
    }
}

@media only screen and (max-width: 768px) {
    body:before {
    }
    .container {
            margin: auto;
            max-width: 800px;
	}
}

@media only screen and (max-width: 568px) {
    body:before {
    }
}

@media only screen and (max-width: 480px) {
    body:before {
    }
}

@media only screen and (max-width: 320px) {
    body:before {
    }
}
